<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="PostDAO" class="com.ourwif.DAO.PostDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="AlbumDAO" class="com.ourwif.DAO.AlbumDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="CommentDAO" class="com.ourwif.DAO.CommentDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="UserDAO" class="com.ourwif.DAO.UserDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>