.size {
    height:300px;    
    overflow:hidden;
    background-position: center center;
    
}
.size img {
    min-width:100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
 	padding: 10px;
}

img {
	filete: none;
}

img:hover {
    -webkit-filter: opacity(50%); /* Safari */
    filter: opacity(50%);
}